.footer-nav__list {
  @include list-zeroing;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 130px;
  row-gap: 13px;

  @media (max-width: 1221px) {
    max-height: 100%;
    flex-wrap: nowrap;
  }

  // @media (max-width: 769px) {
  //   margin-top: 15px;
  // }
}

.footer-nav__item {
  max-width: 202px;

  @media (max-width: 1221px) {
    max-width: 202px;
  }
}
