.footer-nav__list {
  @include list-zeroing;
  columns: 2 auto;
  column-gap: 75px;
  max-height: 100%;

  @media (max-width: 1023px) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-height: 100%;
    flex-wrap: nowrap;
  }
}

.footer-nav__item {
  max-width: 202px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @media (max-width: 1023px) {
    max-width: 202px;
  }
}

.footer-nav__item-link:focus {
  outline: none;
  color: $color-background-deep-sky-blue;
}

.footer-nav__item-link:hover {
  color: $color-background-deep-sky-blue;
}
