.footer-nav__list {
  @include list-zeroing;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 130px;
  row-gap: 12px;

  @media (max-width: 1023px) {
    max-height: 100%;
    flex-wrap: nowrap;
    row-gap: 13px;
  }
}

.footer-nav__item {
  max-width: 202px;

  @media (max-width: 1023px) {
    max-width: 202px;
  }
}
