form input,
form textarea {
  background: $color-background-input;
  border: none;
  border-radius: 3px;
}

form {
  position: relative;
}

form input,
form textarea,
form input::placeholder,
form textarea::placeholder {
  font-family: $ff-mono;
  font-size: $fz-default;
  line-height: $line-height-4;
  color: $color-default-white;
}

form input {
  padding: 15px;
}

form textarea {
  padding: 25px 15px;
}

form label {
  font-family: $ff-mono;
  font-size: $font-size-3;
}

form textarea {
  margin-bottom: 5px;
}

form input[type="checkbox"] {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}

form label[for="checkbox"] {
  position: relative;
  padding-left: 25px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url("../img/icons/checkbox.svg") 50% 50% no-repeat;
  }
}

form input[type="checkbox"]:checked + label[for="checkbox"] {
  &::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url("../../img/icons/checkbox-confirm.svg") 50% 50% no-repeat;
  }
}

form input[type="submit"] {
  background-color: $color-black-pearl;
  padding: 15px 60px;
  text-transform: uppercase;
}
