.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;
  column-gap: 20px;
}

.main-nav__logo-link svg {
  @media (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
}

.main-nav__logo-link svg:nth-child(1) {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.main-nav__logo-link svg:nth-child(2) {
  @media (max-width: 767px) {
    display: none;
  }
}

.main-nav__contacts-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 20px;

  @media (max-width: 1023px) {
    column-gap: 40px;
    align-self: flex-start;
    padding-top: 10px;
    padding-right: 10px;
  }

  @media (max-width: 767px) {
    padding-top: 5px;
  }
}

.main-nav__contacts-wrapper svg {
  width: 20px;
  height: 20px;
}

.main-nav__contacts-link {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.main-nav__contacts-wrapper p,
.main-nav__button {
  @media (max-width: 1023px) {
    display: none;
  }
}

.main-nav__button {
  white-space: nowrap;
  background-color: inherit;
  border: 1px solid $color-alice-blue;
  padding: 10px 22px;
}
