.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 146px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  background-color: $color-background-form-deep-sky-blue;
  box-sizing: inherit;
  width: 500px;

  &--isOpen {
    display: block;
  }
}

.modal__close-button {
  cursor: pointer;
  position: absolute;
  width: 27px;
  height: 27px;
  top: 25px;
  right: 25px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 1px;
    background-color: $color-default-white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal h2 {
  font-size: $font-size-4;
  font-family: $ff-roboto-condensed-regular;
  margin-bottom: 15px;
}

.modal p {
  line-height: $line-height-4;
  margin-bottom: 40px;
}

.modal form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
