.products {
  padding-top: 67px;
  padding-bottom: 140px;
  background-color: $color-black-pearl;

  @media (max-width: 1023px) {
    padding-top: 60px;
    padding-bottom: 75px;
  }

  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 86px;
  }
}

.products__title {
  display: block;

  @media (max-width: 767px) {
    display: none;
  }
}

.products__mobile-title {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.products h2 {
  font-family: $ff-roboto-condensed-regular;
  color: $color-default-white;
  font-size: $font-size-10;
  line-height: $line-height-9;
  margin-bottom: 50px;

  @media (max-width: 1023px) {
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    font-size: $font-size-14;
    max-width: 260px;
    line-height: 140.62%;
    margin-bottom: 27px;
  }
}

.products__list {
  @include list-zeroing;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 86px;
  row-gap: 30px;

  @media (max-width: 1919px) {
    column-gap: 20px;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.products__item {
  position: relative;
  box-sizing: border-box;
  background-color: inherit;
  max-width: 350px;
  width: 100%;
  height: 650px;

  &::after {
    content: '';
    z-index: 2;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-image: url('../img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $color-background-deep-sky-blue;
  }

  @media (max-width: 1919px) {
    max-width: 300px;
    height: 500px;
  }

  @media (max-width: 1023px) {
    max-width: 100%;
    height: 250px;
  }

  @media (max-width: 767px) {
    &::after {
      width: 40px;
      height: 40px;
      background-image: url('../img/icons/arrow-mobile.svg');
    }
  }
}

.products__item-link {
  position: absolute;
  padding: 50px 40px;
  width: 100%;
  height: 100%;

  &:focus {
    outline: 1px solid $color-background-deep-sky-blue;
  }

  &:hover {
    outline: 1px solid $color-background-deep-sky-blue;
  }

  @media (max-width: 1023px) {
    padding: 39px 44px;
  }

  @media (max-width: 767px) {
    padding: 26px 30px;
  }
}

.products__item-link h3 {
  position: relative;
  z-index: 2;
  font-family: $ff-roboto-condensed-regular;
  color: $color-default-white;
  font-size: $font-size-13;
  line-height: $line-height-10;
  max-width: 160px;

  @media (max-width: 767px) {
    font-size: $font-size-9;
    line-height: $line-height-10;
  }
}

.products__item-link img {
  position: absolute;
  object-fit: cover;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
