.socials {
  padding-top: 0;
  @media (max-width: 1221px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    grid-column: 1 / -1;

    @media (max-width: 769px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.socials__logo-link {
  margin-bottom: 24px;

  @media (max-width: 1121px) {
    margin-bottom: 35px;
  }

  @media (max-width: 769px) {
    margin-bottom: 10px;
  }
}

.socials__logo-link svg {
  width: 55px;
  height: 55px;
}

.socials__list {
  @include list-zeroing;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5px;
  gap: 15px;

  @media (max-width: 769px) {
    margin-bottom: 28px;
    padding-left: 0;
  }
}

.socials__item {
  width: 40px;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
}

.socials__item-link svg {
  width: 40px;
  height: 40px;
}
