.success {
  display: none;

  &--show {
    display: block;
  }
}

.success__inner {
  display: block;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 320px;
  width: 568px;
  background-color: $color-black-pearl;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
}

.success__title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: $ff-mono;
  font-size: $font-size-1;
  line-height: 170%;
  color: $color-default-white;
  text-align: center;
}

.success__button {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 22px;
  z-index: 2;
  top: 20px;
  right: 20px;
}

.success__button-item {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 22px;
  background-color: $color-default-white;
  transform: rotate(45deg);

  &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 22px;
    background-color: $color-default-white;
    transform: rotate(90deg);
  }
}
