$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

$color-background-alice-blue: #f8fdff;
$color-background-deep-sky-blue: #00b2ff;
$color-background-form-deep-sky-blue: #00b3ff;
$color-alice-blue: #f2f5f7;
$color-black-pearl: #041827;
$color-shades-of-silver: #c4c4c4;

$color-border: rgba(248, 253, 255, 0.7);
$color-footer-nav-item: rgba(255, 255, 255, 0.7);
$color-overlay: rgba(3, 16, 27, 0.7);
$color-background-input: rgba(4, 20, 39, 0.15);
$blue-background-gradient: linear-gradient(
  180deg,
  #041827 84.9%,
  rgba(4, 24, 39, 0) 100%
);

$fz-default: 16px;
$lh-default: 18px;

$font-size-1: 25px;
$font-size-2: 12px;
$font-size-3: 14px;
$font-size-4: 30px;
$font-size-5: 16px;

$line-height-1: 29px;
$line-height-2: 14px;
$line-height-3: 16px;
$line-height-4: 22px;

$ff-mono: 'PT-Mono', 'Arial', sans-serif;
$ff-roboto-medium: 'Roboto-medium', 'Arial', sans-serif;
$ff-roboto-condensed-regular: 'Roboto-Condensed-Regular', 'Arial', sans-serif;
$ff-roboto-condensed-bold: 'Roboto-Condensed-Bold', 'Arial', sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

$vp-320: 320px;
$vp-770: 770px;
$vp-1222: 1222px;
